<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy</title>
    <link href="~/Content/themes/server2.css" rel="stylesheet" />
</head>
<body>
    <header class="app-header">
        <div class="app-logo-name">
            <img src="~/Images/SBApp.png" alt="App Logo" class="app-logo">
            <h1 class="app-name">Study buddies</h1>
        </div>
        <div class="header-icons">
            <a href="~/Hire.cshtml" class="hire-tutor">Hire a Tutor</a>
        </div>

    </header>
    <div class="container">
        <aside class="server-bar">
            <div class="server-bar-content">
                <a href="~/Default.cshtml" class="server active">
                    <img src="https://cdn-icons-png.flaticon.com/512/746/746960.png" alt="Server 1" class="server-icon">
                </a>
                <a href="none" class="server">
                    <img src="https://cdn-icons-png.flaticon.com/512/5205/5205074.png" alt="Server 2" class="server-icon">
                </a>
                <!-- Dito mag ADD -->
                <div class="server">
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="Add Server" class="server-icon">
                <span class="tooltip">Start Matching</span>
            </div>
        </aside>
        <aside class="sidebar">
            <nav class="menu">
                <div class="menu-item">
                    <p>Home</p>
                </div>
                <div class="menu-item">
                    <p>White Board</p>
                </div>
                <div class="menu-item">
                    <p>Activity</p>
                </div>
            </nav>
            <div class="separator"></div>
            <div class="section">
                <p>Community</p>
                <div class="menu-item">
                    <p>Members</p>
                </div>
            </div>
            <div class="separator"></div>
            <div class="section">
                <p>Modules</p>
                <div class="menu-item">
                    <p>Module 1</p>
                </div>
                <div class="menu-item">
                    <p>Module 2</p>
                </div>
                <div class="menu-item">
                    <p>Module 3</p>
                </div>
            </div>
            <div class="separator"></div>
            <div class="section">
                <p>General</p>
                <div class="menu-item">
                    <p>Account Settings</p>
                </div>
                <div class="menu-item">
                    <p>Leave Community</p>
                </div>
                <div class="menu-item">
                    <p>Help</p>
                </div>
                <div class="menu-item">
                    <a href="https://leonoralemueljames.github.io/Study-Buddies/" class="go-premium-button">Visit Website</a>
                </div>

            </div>
        </aside>
        <main class="forum">
            <header>
                <h1>Science</h1>
            </header>
            <section class="new-post">
                <div class="new-post-header">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0komsU0VA45-k4mJIv0lumh_ubbLYL0SPOsUN0aoOdg&s" alt="User Avatar" class="avatar">
                    <textarea placeholder="What's on your mind?" class="new-post-text"></textarea>
                </div>
                <div class="new-post-footer">
                    <button class="add-photo-button">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidytTFl_D0CyXDQYH8boyP3l2ZTdjobbO7areDR9fUg&s" alt="Add Photo Icon">
                    </button>
                    <button class="post-button">Post</button>
                </div>
            </section>
            <section class="post">
                <div class="post-header">
                    <img src="https://lh6.googleusercontent.com/proxy/5w5gCNh8Xnd_XNENAkNuKYl8wm8TDlmTcuGZ5Jgnrk4E5iuWgICEh0uPTwe5N9VqkFz0bM6OlTeRAeh1ajxvsHAOl8R4a6mQ4mSy3AaNLGHeY7UlgKdtZNiQOa91Wg" alt="User Avatar" class="avatar">
                    <div class="post-info">
                        <p class="username">Catmi</p>
                        <p class="time">Hours ago</p>
                    </div>
                </div>
                <h2 class="post-title">Help</h2>
                <p>Can someone help my activity problem in our group chat?</p>
                <div class="post-footer">
                    <span>30 upvotes</span>
                    <span>6 comments</span>
                    <span>Share</span>
                </div>
            </section>
            <section class="post" style="height: 400px;">
                <div class="post-header">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/004/343/259/small/cute-puppy-or-dog-cartoon-illustration-animal-raising-hand-wildlife-icon-design-concept-isolated-flat-face-style-free-vector.jpg" alt="User Avatar" class="avatar">
                    <div class="post-info">
                        <p class="username">Dogmi</p>
                        <p class="time">1 day ago</p>
                    </div>
                </div>
                <h2 class="post-title">Sharing my note earlier! Have a nice day everyone</h2>
                <img src="https://nittygrittyscience.com/wp-content/uploads/1-1-e1467486005927.jpg" alt="Cool Picture" class="post-image">
                <div class="post-footer">
                    <span>15 upvotes</span>
                    <span>3 comments</span>
                    <span>Share</span>
                </div>
            </section>
        </main>
    </div>
    <button class="floating-button">
        <img src="https://cdn-icons-png.freepik.com/256/646/646135.png?semt=ais_hybrid" alt="Message Icon">
    </button>
</body>
</html>
